{% extends "base.html" %}

{% block content %}

<h2>Наші рослини</h2>

<h3>Категорії:</h3>
<ul>
    <li><a href="{% url 'plants' %}">Всі</a></li>
    {% for cat in categories %}
        <li>
            <a href="?category={{ cat.id }}">{{ cat.name }}</a>
        </li>
    {% endfor %}
</ul>

<hr>

<ul>
    {% for plant in plants %}
        <li>
            <b>{{ plant.name }}</b> — {{ plant.price }} грн
        </li>
    {% empty %}
        <li>Немає рослин</li>
    {% endfor %}
</ul>

{% endblock %}
